In [4]:
import networkx as nx
import sqlite3
import pandas as pd

conn = sqlite3.connect('/Users/Admin/Documents/Projects/Kairos/main/data/GTFS.db')

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>stop_id</th>
      <th>stop_name</th>
      <th>stop_desc</th>
      <th>stop_lat</th>
      <th>stop_lon</th>
      <th>zone_id</th>
      <th>stop_url</th>
      <th>stop_code</th>
      <th>stop_street</th>
      <th>stop_city</th>
      <th>stop_region</th>
      <th>stop_postcode</th>
      <th>stop_country</th>
      <th>location_type</th>
      <th>parent_station</th>
      <th>stop_timezone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>18848</td>
      <td>Clínicas</td>
      <td>None</td>
      <td>-23.55419</td>
      <td>-46.670723</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
</div>

In [56]:
MG = nx.MultiDiGraph() # initialise Graph

In [57]:
## Add Nodes

In [58]:
stops = pd.read_sql_query('SELECT * FROM gtfs_stops', conn)
stops.head(1)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>stop_id</th>
      <th>stop_name</th>
      <th>stop_desc</th>
      <th>stop_lat</th>
      <th>stop_lon</th>
      <th>zone_id</th>
      <th>stop_url</th>
      <th>stop_code</th>
      <th>stop_street</th>
      <th>stop_city</th>
      <th>stop_region</th>
      <th>stop_postcode</th>
      <th>stop_country</th>
      <th>location_type</th>
      <th>parent_station</th>
      <th>stop_timezone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>18848</td>
      <td>Clínicas</td>
      <td>None</td>
      <td>-23.55419</td>
      <td>-46.670723</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
</div>

In [59]:
for i, row in stops.iterrows():
    MG.add_node(row['stop_id'], location={'lat': row['stop_lat'], 'long': row['stop_lon']})

## Add Edges

In [61]:
stops_time = pd.read_sql_query('SELECT * FROM gtfs_stop_times', conn)
stops_time['arrival_time'] = stops_time['arrival_time'].apply(unicode_to_seconds)
stops_time['departure_time'] = stops_time['departure_time'].apply(unicode_to_seconds)
stops_time.head(1)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>trip_id</th>
      <th>arrival_time</th>
      <th>departure_time</th>
      <th>stop_id</th>
      <th>stop_sequence</th>
      <th>stop_headsign</th>
      <th>pickup_type</th>
      <th>drop_off_type</th>
      <th>shape_dist_traveled</th>
      <th>timepoint</th>
      <th>arrival_time_seconds</th>
      <th>departure_time_seconds</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1012-10-0</td>
      <td>13200</td>
      <td>13200</td>
      <td>301708</td>
      <td>1</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>13200</td>
      <td>13200</td>
    </tr>
  </tbody>
</table>
</div>

In [62]:
def unicode_to_seconds(a):
    a = map(int, a.split(':'))
    return a[0] * 3600 + a[1] * 60 + a[2]

In [83]:
for i, row in stops_time.iterrows():
    
    try:
        partida, chegada = stops_time.iloc[i], stops_time.iloc[i + 1]
    except:
        break
    if chegada['trip_id'] == partida['trip_id']:
        MG.add_edge(partida['stop_id'], chegada['stop_id'], 
                    attr = {'tempo': chegada['departure_time']-partida['arrival_time'],
                      'trip_id': chegada['trip_id']}
        )

{}