In [19]:
import networkx as nx
import sqlite3
import pandas as pd

conn = sqlite3.connect('/Users/Admin/Documents/Projects/Kairos/main/data/GTFS.db')

In [20]:
MG = nx.MultiDiGraph() # initialise Graph

In [21]:
## Add Nodes

In [22]:
stops = pd.read_sql_query('SELECT * FROM gtfs_stops', conn)
stops.head(1)

,stop_id,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,stop_code,stop_street,stop_city,stop_region,stop_postcode,stop_country,location_type,parent_station,stop_timezone
0,18848,Clínicas,None,-23.55419,-46.670723,None,None,None,None,None,None,None,None,None,None,None

In [23]:
for i, row in stops.iterrows():
    MG.add_node(row['stop_id'], location={'lat': row['stop_lat'], 'long': row['stop_lon']})

## Add Edges

In [24]:
def unicode_to_seconds(a):
    a = map(int, a.split(':'))
    return a[0] * 3600 + a[1] * 60 + a[2]

In [25]:
stops_time = pd.read_sql_query('SELECT * FROM gtfs_stop_times', conn)
stops_time.head(1)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint,arrival_time_seconds,departure_time_seconds
0,1012-10-0,03:40:00,03:40:00,301708,1,None,None,None,None,None,13200,13200

In [26]:
for i, row in stops_time.iterrows():
    
    try:
        partida, chegada = stops_time.iloc[i], stops_time.iloc[i + 1]
    except:
        break
    if chegada['trip_id'] == partida['trip_id']:
        MG.add_edge(partida['stop_id'], chegada['stop_id'], 
                    attr = {'tempo': chegada['departure_time_seconds']-partida['arrival_time_seconds'],
                      'trip_id': chegada['trip_id']}
        )

## Add frequency

In [35]:
frequencies = pd.read_sql_query('SELECT * FROM gtfs_frequencies', conn)

In [36]:
frequencies.head(70)

,trip_id,start_time,end_time,headway_secs,start_time_seconds,end_time_seconds
0,1012-10-0,03:00:00,03:59:00,1800,10800,14340
1,1012-10-0,04:00:00,04:59:00,420,14400,17940
2,1012-10-0,05:00:00,05:59:00,420,18000,21540
3,1012-10-0,06:00:00,06:59:00,480,21600,25140
4,1012-10-0,07:00:00,07:59:00,420,25200,28740
5,1012-10-0,08:00:00,08:59:00,480,28800,32340
6,1012-10-0,09:00:00,09:59:00,420,32400,35940
7,1012-10-0,10:00:00,10:59:00,480,36000,39540
8,1012-10-0,11:00:00,11:59:00,420,39600,43140
9,1012-10-0,12:00:00,12:59:00,480,43200,46740
10,1012-10-0,13:00:00,13:59:00,420,46800,50340
11,1012-10-0,14:00:00,14:59:00,480,50400,53940
12,1012-10-0,15:00:00,15:59:00,420,54000,57540
13,1012-10-0,16:00:00,16:59:00,360,57600,61140
14,1012-10-0,17:00:00,17:59:00,360,61200,64740
15,1012-10-0,18:00:00,18:59:00,360,64800,68340
16,1012-10-0,19:00:00,19:59:00,420,68400,71940
17,1012-10-0,20:00:00,20:59:00,600,72000,75540
18,1012-10-0,21:00:00,21:59:00,600,75600,79140
19,1012-10-0,22:00:00,22:59:00,600,79200,82740
20,1012-10-0,23:00:00,23:59:00,3600,82800,86340
21,1012-10-1,00:00:00,00:59:00,900,0,3540
22,1012-10-1,04:00:00,04:59:00,600,14400,17940
23,1012-10-1,05:00:00,05:59:00,420,18000,21540
24,1012-10-1,06:00:00,06:59:00,420,21600,25140
25,1012-10-1,07:00:00,07:59:00,480,25200,28740
26,1012-10-1,08:00:00,08:59:00,420,28800,32340
27,1012-10-1,09:00:00,09:59:00,480,32400,35940
28,1012-10-1,10:00:00,10:59:00,420,36000,39540
29,1012-10-1,11:00:00,11:59:00,480,39600,43140
...,...,...,...,...,...,...
40,1012-10-1,22:00:00,22:59:00,600,79200,82740
41,1012-10-1,23:00:00,23:59:00,720,82800,86340
42,1015-10-0,04:00:00,04:59:00,3600,14400,17940
43,1015-10-0,05:00:00,05:59:00,1200,18000,21540
44,1015-10-0,06:00:00,06:59:00,1200,21600,25140
45,1015-10-0,07:00:00,07:59:00,1800,25200,28740
46,1015-10-0,08:00:00,08:59:00,1800,28800,32340
47,1015-10-0,09:00:00,09:59:00,3600,32400,35940
48,1015-10-0,10:00:00,10:59:00,1800,36000,39540
49,1015-10-0,11:00:00,11:59:00,3600,39600,43140
50,1015-10-0,12:00:00,12:59:00,1800,43200,46740
51,1015-10-0,13:00:00,13:59:00,3600,46800,50340
52,1015-10-0,14:00:00,14:59:00,1800,50400,53940
53,1015-10-0,15:00:00,15:59:00,3600,54000,57540
54,1015-10-0,16:00:00,16:59:00,1200,57600,61140
55,1015-10-0,17:00:00,17:59:00,1200,61200,64740
56,1015-10-0,18:00:00,18:59:00,1800,64800,68340
57,1015-10-0,19:00:00,19:59:00,1200,68400,71940
58,1015-10-0,20:00:00,20:59:00,3600,72000,75540
59,1015-10-0,21:00:00,21:59:00,3600,75600,79140
60,1015-10-0,22:00:00,22:59:00,1800,79200,82740
61,1016-10-0,00:00:00,00:59:00,1800,0,3540
62,1016-10-0,04:00:00,04:59:00,1800,14400,17940
63,1016-10-0,05:00:00,05:59:00,360,18000,21540
64,1016-10-0,06:00:00,06:59:00,240,21600,25140
65,1016-10-0,07:00:00,07:59:00,240,25200,28740
66,1016-10-0,08:00:00,08:59:00,300,28800,32340
67,1016-10-0,09:00:00,09:59:00,300,32400,35940
68,1016-10-0,10:00:00,10:59:00,360,36000,39540
69,1016-10-0,11:00:00,11:59:00,360,39600,43140

In [37]:
stops_time.head(50)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint,arrival_time_seconds,departure_time_seconds
0,1012-10-0,03:40:00,03:40:00,301708,1,None,None,None,None,None,13200,13200
1,1012-10-0,03:42:00,03:42:00,30003039,2,None,None,None,None,None,13320,13320
2,1012-10-0,03:44:00,03:44:00,30003021,3,None,None,None,None,None,13440,13440
3,1012-10-0,03:46:00,03:46:00,30003019,4,None,None,None,None,None,13560,13560
4,1012-10-0,03:48:00,03:48:00,30003017,5,None,None,None,None,None,13680,13680
5,1012-10-0,03:50:00,03:50:00,301672,6,None,None,None,None,None,13800,13800
6,1012-10-0,03:52:00,03:52:00,301671,7,None,None,None,None,None,13920,13920
7,1012-10-0,03:54:00,03:54:00,301701,8,None,None,None,None,None,14040,14040
8,1012-10-0,03:56:00,03:56:00,301700,9,None,None,None,None,None,14160,14160
9,1012-10-0,03:58:00,03:58:00,301697,10,None,None,None,None,None,14280,14280
10,1012-10-0,04:00:00,04:00:00,301695,11,None,None,None,None,None,14400,14400
11,1012-10-0,04:02:00,04:02:00,30003012,12,None,None,None,None,None,14520,14520
12,1012-10-0,04:04:00,04:04:00,30003041,13,None,None,None,None,None,14640,14640
13,1012-10-0,04:06:00,04:06:00,301730,14,None,None,None,None,None,14760,14760
14,1012-10-0,04:10:00,04:10:00,30003003,15,None,None,None,None,None,15000,15000
15,1012-10-1,00:50:00,00:50:00,301729,1,None,None,None,None,None,3000,3000
16,1012-10-1,00:51:11,00:51:11,30003002,2,None,None,None,None,None,3071,3071
17,1012-10-1,00:52:22,00:52:22,301724,3,None,None,None,None,None,3142,3142
18,1012-10-1,00:53:33,00:53:33,30003042,4,None,None,None,None,None,3213,3213
19,1012-10-1,00:54:44,00:54:44,30003045,5,None,None,None,None,None,3284,3284
20,1012-10-1,00:55:55,00:55:55,301573,6,None,None,None,None,None,3355,3355
21,1012-10-1,00:57:06,00:57:06,30003044,7,None,None,None,None,None,3426,3426
22,1012-10-1,00:58:17,00:58:17,30003043,8,None,None,None,None,None,3497,3497
23,1012-10-1,00:59:28,00:59:28,30003013,9,None,None,None,None,None,3568,3568
24,1012-10-1,01:00:39,01:00:39,301693,10,None,None,None,None,None,3639,3639
25,1012-10-1,01:01:50,01:01:50,301696,11,None,None,None,None,None,3710,3710
26,1012-10-1,01:03:01,01:03:01,301699,12,None,None,None,None,None,3781,3781
27,1012-10-1,01:04:12,01:04:12,301692,13,None,None,None,None,None,3852,3852
28,1012-10-1,01:05:23,01:05:23,301698,14,None,None,None,None,None,3923,3923
29,1012-10-1,01:06:34,01:06:34,301714,15,None,None,None,None,None,3994,3994
30,1012-10-1,01:07:45,01:07:45,30003037,16,None,None,None,None,None,4065,4065
31,1012-10-1,01:08:56,01:08:56,30003015,17,None,None,None,None,None,4136,4136
32,1012-10-1,01:10:07,01:10:07,30003016,18,None,None,None,None,None,4207,4207
33,1012-10-1,01:11:18,01:11:18,30003018,19,None,None,None,None,None,4278,4278
34,1012-10-1,01:12:29,01:12:29,30003020,20,None,None,None,None,None,4349,4349
35,1012-10-1,01:15:00,01:15:00,30003038,21,None,None,None,None,None,4500,4500
36,1015-10-0,05:00:00,05:00:00,301726,1,None,None,None,None,None,18000,18000
37,1015-10-0,05:07:30,05:07:30,301727,2,None,None,None,None,None,18450,18450
38,1015-10-0,05:15:00,05:15:00,30003001,3,None,None,None,None,None,18900,18900
39,1015-10-0,05:30:00,05:30:00,30003051,4,None,None,None,None,None,19800,19800
40,1016-10-0,12:00:00,12:00:00,830004111,1,None,None,None,None,None,43200,43200
41,1016-10-0,12:01:25,12:01:25,8312697,2,None,None,None,None,None,43285,43285
42,1016-10-0,12:02:50,12:02:50,830004014,3,None,None,None,None,None,43370,43370
43,1016-10-0,12:04:15,12:04:15,830004008,4,None,None,None,None,None,43455,43455
44,1016-10-0,12:05:40,12:05:40,8313551,5,None,None,None,None,None,43540,43540
45,1016-10-0,12:07:05,12:07:05,830004113,6,None,None,None,None,None,43625,43625
46,1016-10-0,12:08:30,12:08:30,830004118,7,None,None,None,None,None,43710,43710
47,1016-10-0,12:09:55,12:09:55,830004119,8,None,None,None,None,None,43795,43795
48,1016-10-0,12:11:20,12:11:20,830004121,9,None,None,None,None,None,43880,43880
49,1016-10-0,12:12:45,12:12:45,830004123,10,None,None,None,None,None,43965,43965

In [30]:
stops_time_first = stops_time[stops_time['stop_sequence'] == 1].reset_index(drop=True)
stops_time_first.head(2)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint,arrival_time_seconds,departure_time_seconds
0,1012-10-0,03:40:00,03:40:00,301708,1,None,None,None,None,None,13200,13200
1,1012-10-1,00:50:00,00:50:00,301729,1,None,None,None,None,None,3000,3000

In [31]:
check_full_day = lambda trip, ultimo: trip[(trip["start_time_seconds"] <= ultimo) &
                             (trip["end_time_seconds"] + 60 >= ultimo)]['start_time_seconds'].values[0] if len(trip) == 24 else False

In [32]:
for i, row in stops_time_first.iterrows():
    
    print 'id', i

    lista = []
    lista.append(row['arrival_time_seconds'])
    trip = frequencies[frequencies['trip_id'] == row['trip_id']]
    
    rodou = 0
    fullday = 0
    
    if len(trip) > 0:
    
        # Para baixo
        while 1:

            ultimo = lista[-1] 
            timetable = trip[(trip["start_time_seconds"] <= ultimo) &
                             (trip["end_time_seconds"] + 60 >= ultimo)]

            if len(timetable) > 0:
                
                soma = timetable['headway_secs'].values[0] + ultimo
                
                if rodou == 1 and soma > lista[0]:
                    fullday = 1
                    print 'fullday'
                    break
                
                else:
                    if soma <= 86340:
                        lista.append(soma)
                    else: 
                        rodou = 1
                        lista.append(soma - 86340)
            
            else:
                break


        # Para cima  
        while fullday==0:

            primeiro = lista[0]
            timetable_atual = trip[(trip["start_time_seconds"] <= primeiro) 
                                   & (trip["end_time_seconds"] + 60 >= primeiro)]

            if timetable_atual['start_time_seconds'].values[0] == 0:
                timetable_anterior = trip[trip['end_time_seconds'] == 82740]
            else:
                timetable_anterior = trip[(trip['end_time_seconds']) == 
                                          timetable_atual['start_time_seconds'].values[0] - 60]

            # com timetable anterior
            if len(timetable_anterior) > 0:

                subt = primeiro - timetable_anterior['headway_secs'].values[0]
                if subt < 0:
                    subt = subt + 82740

                # se dentro da timetable anterior
                if subt <= timetable_anterior['end_time_seconds'].values[0]:
                    lista.insert(0, subt) 
                else:
                    lista.insert(0, primeiro - timetable_atual['headway_secs'].values[0])

            # se dentro da timetable atual mas timetable anterior inexistente 

            elif ((primeiro - timetable_atual['headway_secs'].values[0]) >=
                    timetable_atual['start_time_seconds'].values[0]):

                lista.insert(0, primeiro - timetable_atual['headway_secs'].values[0])

            else:
                break


        if 'viagens' in MG.node['301729']:
            MG.node['301729']['viagens'][row['trip_id']] = lista
        else:
            MG.node['301729']['viagens'] = {row['trip_id']: lista}

    else:
        print 'pulou'

id 0
id 1
id 2
id 3
id 4
id 5
id 6
id 7
id 8
id 9
id 10
id 11
id 12
id 13
id 14
id 15
id 16
id 17
id 18
id 19
id 20
id 21
id 22
id 23
id 24
id 25
id 26
id 27
id 28
id 29
id 30
id 31
id 32
id 33
id 34
id 35
id 36
id 37
id 38
id 39
id 40
id 41
id 42
id 43
id 44
id 45
id 46
id 47
id 48
id 49
id 50
id 51
id 52
id 53
id 54
id 55
id 56
id 57
id 58
id 59
id 60
id 61
id 62
id 63
id 64
id 65
id 66
id 67
id 68
id 69
id 70
id 71
id 72
id 73
id 74
id 75
id 76
id 77
id 78
id 79
id 80
id 81
id 82
id 83
id 84
id 85
id 86
id 87
id 88
id 89
id 90
id 91
id 92
id 93
id 94
id 95
id 96
id 97
id 98
id 99
id 100
id 101
id 102
id 103
id 104
id 105
id 106
id 107
id 108
id 109
id 110
id 111
id 112
id 113
id 114
id 115
id 116
id 117
id 118
id 119
id 120
id 121
id 122
id 123
id 124
id 125
id 126
id 127
id 128
id 129
id 130
id 131
id 132
id 133
id 134
id 135
id 136
id 137
id 138
id 139
id 140
id 141
id 142
id 143
id 144
id 145
id 146
id 147
id 148
id 149
id 150
id 151
id 152
id 153
id 154
id 155
id 156
id 157
id 158
id 159
id 160
id 161
id 162
id 163
id 164
id 165
id 166
id 167
id 168
id 169
id 170
id 171
id 172
id 173
id 174
id 175
id 176
id 177
id 178
id 179
id 180
id 181
id 182
id 183
id 184
id 185
id 186
id 187
id 188
id 189
id 190
id 191
id 192
id 193
id 194
id 195
id 196
id 197
id 198
id 199
id 200
id 201
id 202
id 203
id 204
id 205
id 206
id 207
id 208
id 209
id 210
id 211
id 212
id 213
id 214
id 215
id 216
id 217
id 218
id 219
id 220
id 221
id 222
id 223
id 224
id 225
id 226
id 227
id 228
id 229
id 230
id 231
id 232
id 233
id 234
id 235
id 236
id 237
id 238
id 239
id 240
id 241
id 242
id 243
id 244
id 245
id 246
id 247
id 248
id 249
id 250
id 251
id 252
id 253
id 254
id 255
id 256
id 257
id 258
id 259
id 260
id 261
id 262
id 263
id 264
id 265
id 266
id 267

KeyboardInterrupt:

In [33]:
stops_time_first.iloc[1751]

trip_id                   8012-10-0
arrival_time               06:00:00
departure_time             06:00:00
stop_id                     1211373
stop_sequence                     1
stop_headsign                  None
pickup_type                    None
drop_off_type                  None
shape_dist_traveled            None
timepoint                      None
arrival_time_seconds          21600
departure_time_seconds        21600
Name: 1751, dtype: object

In [34]:
len(frequencies[frequencies['trip_id'] == '8012-10-0'])

KeyboardInterrupt: